#demo {
    width:0;
    height:0;
    border-width:20px;
    border-color:transparent transparent red transparent;
    border-style:solid;
}

.left,.right {
    display:table-cell;    
    margin:0;
    padding:0;
    float:left;
    width:50%;

}

#top_div{ 
 position:fixed; 
 bottom:80px; 
 right:0; 
 display:none; 
} 