body,p,h1,div,span,button,canvas{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

#start{
	cursor: pointer;
}

#stop{
	cursor: pointer;
}
#canvas-bg{
	background: url(./images/flowers.png) no-repeat;
	position: relative;			
	z-index: 1;
	height: 300px;
	width: 600px;
}
canvas{
	position: absolute;		
}
canvas#text{
	z-index: 2;
}
canvas#canvas{
	z-index: 3;
}

button{
	width: 80px;
	height: 27px;
	padding: 5px 10px;
	background: #ddd;
	text-align: center;
	border-radius: 3px;
	border:1px solid #ccc;
	color: #333;
	float: left;
	margin-left: 50px;
	transition: all .3s linear;
}
button:hover{
	background:#ccc;
	font-weight: bold;
	transform: scale(1.3,1.3);
	transition: all .3s linear;
}
p{
	clear:both;
	padding: 5px 10px;
	margin-left: 50px;
}


ul li{
	list-style: none;
	display: inline;
}

/*span为行内元素不能设置宽度和高度，通过设置display为inline-block，使其对内既有宽高的属性，对外又为行内元素*/
ul li span{
	display: inline-block;	
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: solid 1px #ddd;
	text-align: center;
	line-height: 90px;
}
.selected{
	background: #666;    
    color: white;
    box-shadow: 0 0 20px 5px #f1f1f1;
    border: solid 1px #666;
}
